@import 'normolize'
@import 'elements'
@import 'header'
@import 'modal'

.main
    position: relative
    z-index: 1
    display: flex
    align-items: center
    justify-content: center
    height: 1180px
    color: #fff
    padding: 80px 0 440px
    // max-height: 1100px
    background-color: #000
    background-image: url('../img/clouds.png'), url('../img/main.jpg')
    // background-attachment: fixed
    background-repeat: no-repeat
    background-position: center bottom, center center
    background-size: 100% auto, cover

    h1
        max-width: 850px
        margin-bottom: 20px
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)

    &__descr
        font-weight: bold
        font-size: 18px
        max-width: 580px
        margin-bottom: 50px
        color: #000

    .link
        margin-left: 35px
        display: inline-block

.info
    background-image: url('../img/bg-2.jpg')
    background-repeat: no-repeat
    background-position: center bottom
    background-size: cover
    h2
        margin-bottom: 62px
    &-wrapper
        align-items: stretch
        padding: 0 32px
    &-item
        background-color: $prime
        width: 19%
        color: #fff
        background-image: url('../img/arrow-right_white.svg')
        background-repeat: no-repeat
        background-position: top 15px left 25px
        padding: 78px 24px 34px
        margin: 0 0 90px
        h3
            font-weight: 600
            font-size: 28px
            line-height: 35px
        p
            font-weight: 500
            font-size: 20px
            line-height: 150%
            margin: 0

    &__text
        max-width: 1060px
        font-weight: 400
        font-size: 25px
        line-height: 42px
        margin: 0 0 100px

    &__descr
        font-weight: 500
        font-size: 18px
        line-height: 35px
        margin: 0
        max-width: 400px

.welcome
    text-align: center
    background-image: url('../img/bg-shape.svg')
    background-repeat: no-repeat
    background-position: right 20% bottom 10%
    background-size: 700px auto
    h2
        max-width: 845px
        margin: 0 auto 100px
    p
        font-size: 30px
        font-weight: 500
        margin-bottom: 50px

    img
        display: block
        width: 49%

    .wrap

.why
    h2
        margin-bottom: 50px
    &-slider
        display: flex

    &-slide
        width: 860px
        height: 605px
        position: relative
        z-index: 1
        display: flex
        align-items: flex-start
        flex-wrap: wrap
        justify-content: flex-end
        flex-direction: column
        padding: 50px
        background-color: #000
        color: #fff
        img
            position: absolute
            top: 0
            left: 0
            z-index: -1
            pointer-events: none
            object-fit: cover
            width: 100%
            height: 100%
            opacity: .6
        h3
            text-transform: none
            font-weight: 500
            font-size: 40px
            line-height: 120%

        p
            font-weight: 400
            font-size: 18px
            line-height: 150%

.infrastructure
    background-image: url('../img/tree.png'), url('../img/bg-shape-2.svg')
    background-repeat: no-repeat, repeat-x
    background-position: top left, bottom left
    background-size: 250px auto, auto
    p
        max-width: 1060px
        font-weight: 400
        font-size: 24px
        line-height: 42px
        margin: 0 0 180px
    &-wrap
        max-width: 1800px
        margin: 0 auto 200px
        justify-content: center
        gap: 25px

    img
        display: block
        position: relative
        &:nth-child(1)
            width: 25%
            align-self: flex-start
            top: -70px
        &:nth-child(2)
            width: 45%
            align-self: center
        &:nth-child(3)
            width: 25%
            align-self: flex-end
            bottom: -70px

    &-wrapper
        max-width: 1800px
        margin: 0 auto

    &-item
        font-weight: 500
        font-size: 20px
        border-left: 9px solid $prime
        padding: 0 0 0 40px
        margin: 0
        width: 31%

    .connetc
        max-width: 1000px
        margin: 0 auto
        p
            margin: 0

.planing
    text-align: center
    background-image: url('../img/bg-shape-3.svg')
    background-repeat: no-repeat
    background-position: bottom 30% center
    .container
        text-align: left
    h2
        margin-bottom: 35px
    p
        font-weight: 500
        font-size: 25px
        line-height: 35px
        margin: 0 0 110px

    h3
        margin: 80px auto 40px

    .filter
        text-align: center
        margin-bottom: 40px
        justify-content: center
        &__btn
            color: #000
            padding: 20px 80px
            font-weight: 500
            font-size: 25px
            line-height: 35px
            text-transform: uppercase
            border-bottom: 3px solid #250000
            &.active
                color: $prime
                border-color: $prime

    img
        mix-blend-mode: darken

.slider
    .slick
        &-slide
            opacity: .3
            transition: all ease .3s
        &-active
            opacity: 1

.preparing
    text-align: center
    overflow: hidden
    background-image: url('../img/bg-shape-4.svg')
    background-repeat: no-repeat
    background-position: bottom center
    background-size: 100% auto
    h2
        text-align: left
        margin-bottom: 100px
    .slider
        margin-bottom: 90px

    .slide
        min-width: 620px
        padding: 70px 30px
        background: $prime
        opacity: .3
        img
            width: 180px
            object-fit: contain
            display: block
            margin: 0 auto 28px

        p
            font-weight: 500
            font-size: 35px
            line-height: 44px
            text-transform: uppercase
            margin: 0

    .slick
        &-active
            opacity: .3
            background: linear-gradient(180deg, #6DA802 0%, rgba(255, 255, 255, 0.6) 68.23%, #F6F6F6 100%)

.shares
    background-image: url('../img/bg-4.jpg')
    background-repeat: no-repeat
    background-position: center center
    background-size: auto 95%
    position: relative
    z-index: 1
    &::after
        content: ''
        display: inline-block
        width: 320px
        height: 348px
        background-image: url('../img/logo-big.png')
        background-repeat: no-repeat
        background-size: contain
        background-position: center center
        position: absolute
        z-index: 1
        pointer-events: none
        top: 60%
        right: 10%
    .container
        max-width: 1060px
    .pop
        padding: 80px 150px
        text-align: center
        background-color: #FFFFFF
        box-shadow: -2px 8px 39px -2px rgba(0, 0, 0, 0.15)
        margin-bottom: 70px

        &__text
            font-weight: 500
            font-size: 25px
            line-height: 35px
            margin: 40px auto 70px
        &-item
            font-weight: 600
            font-size: 45px
            line-height: 56px
            margin-bottom: 70px
            img,
            span
                display: inline-block
                vertical-align: middle
            span
                margin-left: 10px

        .btn
            margin-bottom: 30px

        &__descr
            font-weight: 500
            font-size: 14px
            line-height: 35px
            margin: 0

    .btn_white
        margin-bottom: 20px
    &__descr
        font-weight: 500
        font-size: 18px
        line-height: 35px
        color: #fff
        max-width: 400px

.payment
    background-color: $prime
    background-image: url('../img/bg-3.jpg')
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    h2
        color: #fff
        margin-bottom: 20px

    p
        font-weight: 500
        font-size: 25px
        line-height: 35px
        color: #fff
        margin-bottom: 32px

    .title
        width: 55%
    

    ul
        padding: 0
        max-width: 500px
    
    li
        list-style: none
        background-color: #fff
        border-radius: 70px
        padding: 14px 30px 14px 120px
        font-weight: 500
        font-size: 20px
        line-height: 35px
        min-height: 100px
        display: flex
        align-items: center
        background-image: url('../img/double-tick.png')
        background-repeat: no-repeat
        background-position: center left 40px
        background-size: auto 50%
        margin: 0 0 20px
        text-transform: uppercase
        &:last-child
            margin-bottom: 0

    form
        width: 42%
        background-color: #fff
        padding: 80px 70px
        border-radius: 60px
        input
            width: 100%

    .btn
        text-transform: none

.process
    text-align: center
    background-image: url('../img/bg-shape-5.svg')
    background-repeat: no-repeat
    background-position: left 8% top 8%
    h2
    p
        text-transform: uppercase
        font-weight: 500
        font-size: 25px
        line-height: 150%
        max-width: 750px
        margin: 0 auto 80px

    .slider
        position: relative
        z-index: 1
        // display: block
        &::before,
        &::after
            content: ''
            display: block
            width: 1300px
            max-width: 90%
            margin: 60px auto
            height: 1px
            background-color: #000
    .slide
        width: 636px
        height: 423px
        img
            width: 100%
            height: 100%
            object-fit: cover
            display: block

@media screen and (max-width: 1500px)
    .main
        padding-bottom: 100px
        min-height: 770px
        &__descr

@media screen and (max-width: 1200px)
    .main
        border-radius: 0
        // display: block
        height: unset
        margin-bottom: 250px
        &__girl
            width: 100%
            right: 0
            max-height: 83%

        .container
            margin: auto 0 0 0
            padding: 40px 15px 200px
            background-color: rgba($prime, .6)
            backdrop-filter: blur(10px)
            text-align: center
            top: 480px
            .btn
                box-shadow: none
                border: 1px solid #fff
                background-color: transparent

@media screen and (max-width: 700px)
    .main
        min-height: 350px
        &__descr
            font-size: 16px
            margin-bottom: 0

        h1
            margin-bottom: 26px

        .container
            top: 440px
            padding-bottom: 120px

@media screen and (max-width: 509px)
    .main

@import 'footer'
